body {
  background-image: url('Imagen/R.jfif');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  color: #000000;
  margin-bottom: 20px;
  text-align: center;

}

form {
  width: 80%;
  max-width: 400px;
  
}

label {
  color: #fff;
  margin-bottom: 10px;
}

input[type="file"],
input[type="text"],
button,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;

}

button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  text-align: center;

}

button:hover {
  background-color: #0069d9;
}

button:active {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

.alert {
  background-color: #f8d7da;
  color: #000000;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
    text-align: center;

}
